/* common css */
* {
    margin: 0;               /* 여백 없애기 */
    padding: 0;              /* 여백 없애기 */
    list-style: none;        /* li태그 스타일 없애기 */
}

/* body 기본값 */
body {
    width: 100%;     /* 넓이 */
    margin: 0 auto; /* 가운데 정렬 */
}

/* a 태그 기본 스타일 없애기 */
a {
    text-decoration: none;   /* 태그 밑줄 없애기 */
    color: black;          
}

/* 버튼 기본 스타일 없애기 */
button {
    border: 0;
    outline: 0;
    background: none;
}

/* top_popup */
.top_popup {
    width: 100%; height: 50px;
    border: 0px solid black;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top_popup p {
    line-height: 50px;
    text-align: center;
}

.top_popup button {
    width: 80px;
    height: 30px;
    border: 0px solid #d8d8d8;
    border-radius: 30px;
    border-bottom: 3px solid #e8e8e8;
    background: white;
    font-weight: 600;
}

.top_popup button:hover {
    cursor: pointer;
}

.top_popup span {
    border: 0px solid black;
    position: absolute; top: 0; right: 5px;
    font-size: 2rem;
}

.top_popup span:hover {
    cursor: pointer;
}

/* main_header */
.main_header {
    width: 100%; height: 50px;
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_header .main_bar {
    font-size: 1.5rem;
    margin-left: 10px;
}

.main_header .main_logo {
    width: 70px; height: 50px;
    border: 0px solid black;
    background-image: url(../img/sprite@1x.png);
    background-size: 200px 200px;
}

.main_header .main_search {
    font-size: 1.5rem;
    margin-right: 10px;
}

/* sub_header */
.sub_header {
    width: 100%; height: 50px;
    background: #f25e37;
    border: 0px solid #f25e37;
    display: flex;
    justify-content: center;
}

.sub_header p {
    text-align: center;
    line-height: 50px;
    border: 0px solid black;
    color: white;
    font-weight: 600;
    font-size: 1.15rem;
}

.sub_header p:nth-child(1){
    width: 70px;
}
.sub_header p:nth-child(2){
    width: 90px;
}
.sub_header p:nth-child(3){
    width: 90px;
}
.sub_header p:nth-child(4){
    width: 120px;
}
.sub_header p:nth-child(5){
    width: 110px;
}
.sub_header p:nth-child(6){
    width: 100px;
}

.sub_header p:hover {
    border-bottom: 3px solid white;
    cursor: pointer;
}

/* main_content */
.main_content {
    position: relative; top: 0; left: 0;
    width: 100%; height: 100%;
}

.main_content img {
    width: 100%; height: 100%;
}

.main_content p {
    width: 35px; height: 20px;
    position: absolute; bottom: 5px; right: 0;
    color: white;
    background: #008490;
    font-size: 0.75rem;
    text-align: center;
    line-height: 20px;
    border-top-left-radius: 5px;
    font-weight: 600;
    
}
